## Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are: Python, R, SQL, Java, Scala, Julia, MATLAB, C++

## Some of the commonly used libraries used by Data Scientists include: Pandas, Numpy, PyTorch

In [1]:
import pandas as pd

data = {'Data Science Tools':['apache Spark', 'Apache Hadoop', 'Anaconda']}
df = pd.DataFrame(data)
df

  Data Science Tools
0       apache Spark
1      Apache Hadoop
2           Anaconda

### Below are a few examples of evaluating arithmetic expressions in Python

## This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

##  This will convert 200 minutes to hours by diving by 60

In [4]:
x = 200//60
y = 200 - (x*60)
print(f"{x} hours and {y} minutes")

3 hours and 20 minutes

## **Objectives:**

In [5]:
['List popular languages for Data Science', 'Data Science Tools', 'List of Data Scientists libraries']

['List popular languages for Data Science',
 'Data Science Tools',
 'List of Data Scientists libraries']

## Author ≈Åukasz